# Data Types, Objects and Data Structures

### Different Types of data are:
	1. Integer
	2. Floating point
	3. String - immutable. Cannot be modified once created. 
	4. List - Ordered mutable
	5. Dictionary - Unordered mutable
	6. Tuple - Ordered immutable
	7. Sets - Unordered unique

## Number

In [ ]:
#Division operator
3/2

In [ ]:
#Modulus operator
3%2

In [ ]:
#Quotient operator
5//2

In [ ]:
#Exponential (Power)
2 ** 2

In [ ]:
#Order of operation - PEMDAS
#Parantheses
#Exponential
#Multiplication
#Division
#Addition
#Subtraction

1+2**3*3/4-5

In [ ]:
2**3

In [ ]:
8*3

In [ ]:
24/4

In [ ]:
6.0+1

In [ ]:
7.0-5

## String handling

String reverse implementation

In [13]:
string1="Hello World"
string2 = ""

print(string1)
print(string2)

strlen = len(string1)
print(strlen)

while strlen >=0:
    string2 = string2 + str(string1[strlen-1])
    strlen = strlen -1


print(string2)

Hello World

11
dlroW olleHd

**String indexing and Slicing**

Positive and negative indexing (from right)

In [15]:
string1 = "Hello World"

In [17]:
string1[1]

'e'

In [18]:
string1[9]

'l'

In [21]:
string1[-1]

'd'

#### Slicing
string[x:y:x] 
* where x is the starting index
* y is the ending index (not inclusive)
* z is the step size

In [38]:
string2 = 'abcdefghijk'

In [36]:
string2[1:2]

'b'

In [39]:
string2[1:-1]

'bcdefghij'

In [41]:
string2[::]

'abcdefghijk'

In [44]:
string2[::-1]  #string reverse

'kjihgfedcba'

##### String Multiplication

In [45]:
string1 = "*"

In [47]:
string1 *10

'**********'

##### String functions

In [53]:
x = "hello world"

In [57]:
x.capitalize()

'Hello world'

In [59]:
x.upper()

'HELLO WORLD'

In [64]:
x.split()  #splits strings into list

['hello', 'world']

In [66]:
string2 = "hello;world"

In [69]:
string2.split(";")  #split by delimiter

['hello', 'world']

#### String Interpolation (String formatting when printing)

1. % (modulo operator)
2. .format
3. fstring

* % is like how it is used in C
* %s - Converts to string
* %r - keeps the actual value without resolving (includes quotes, escape sequences etc. without resolving)
* %d - integer
* %f - floating point, control precision using %1.2f etc.

In [74]:
"inserted {} and inserted {}".format("string1","string2") # inserts the string in the same order supplied

'inserted string1 and inserted string2'

In [77]:
"inserted {1} and inserted {0}".format("string1","string2") #inserts based on the index postion specified

'inserted string2 and inserted string1'

In [79]:
"inserted {s1} and {s2}".format(s1='String1',s2="String2")

'inserted String1 and String2'

In [81]:
result = 100/777

In [83]:
result

0.1287001287001287

In [96]:
print("The result was {res:10.3f}".format(res=result)) # {res:10:3f} {value:width:precision f} width will add white spaces
#precision will control number of decimal digits

The result was      0.129

fstring method

In [102]:
myname = "Balaji"
mywife = "Kanchana"
mykid = "Kavya"

In [103]:
print(f"Hello, my name is {name}. My wifes name is {mywife} and my daughters name is {mykid}")

Hello, my name is Balaji. My wifes name is Kanchana and my daughters name is Kavya